In [1]:
import pandas as pd
import numpy as np
import random

In [6]:
customers = pd.read_csv('customers.csv')
tournaments = pd.read_csv('tournaments.csv')

In [7]:
tournaments

,tournament_id,name,date,team_players_number,game_id,staff_id,total_players_number
0,1,Cosmic Entertainment,2021-01-22,1,9,1,12
1,2,Battlefields of Bonaparte,2021-06-16,1,27,3,30
2,3,The Kobolds,2021-09-08,2,33,4,32
3,4,Gaming Evening,2021-12-20,1,33,2,32
4,5,Hamst&Furious,2022-01-04,1,7,2,37
5,6,Indian Camp,2022-07-28,1,5,3,40
6,7,Vietgame,2022-10-02,1,36,1,16
7,8,Thematic Contest,2023-01-19,2,6,4,36
8,9,Spring Tournament,2023-03-25,1,1,1,30
9,10,Star Trek Day,2023-06-07,1,19,2,8

In [8]:
customers

,customer_id,first_name,last_name,birthdate,VIP,email,phone,address_id,registration_date
0,1,Adam,Soczówka,1980-03-19,2021-06-23,AdSoczó98@o2.pl,747747165,33,2023-05-17
1,2,Damian,Żabka,2002-11-22,2021-05-24,DaŻa29@gmail.com,178570206,8,2021-02-23
2,3,Оксенія,Жук,1968-06-26,2021-04-02,ОксенЖу@live.com,354977755,218,2021-12-27
3,4,Marianna,Kościuszko,1959-10-24,2021-06-30,MarianKościu86@live.com,756338726,366,2022-03-26
4,5,Anne,Carsten,1990-05-07,2021-07-07,AnCar@gmx.net,863033383,391,2021-02-06
...,...,...,...,...,...,...,...,...,...
595,596,Cezary,Porzucek,1955-06-16,NaN,CezaPo@live.com,433649163,451,2022-09-04
596,597,Wojciech,Trzcionka,1972-02-18,NaN,WojcTrzcionk@o2.pl,857928620,577,2022-04-29
597,598,Dagmara,Bartela,1961-04-21,NaN,DaBarte76@live.com,569422670,539,2021-04-12
598,599,Stefan,Browarczyk,1985-12-29,NaN,StBr90@o2.pl,135242238,360,2022-04-14
599,600,Klara,Dytrych,1949-02-21,NaN,KlaDy79@wp.pl,159856357,456,2022-08-20

In [9]:
def generate_results():
    tournaments = pd.read_csv('tournaments.csv')
    customers = pd.read_csv('customers.csv')
    tournament_id = tournaments.tournament_id
    
    participants_list = []
    score_list = []
    for i in range(len(tournaments)):
        row = tournaments.iloc[i]

    if row.team_players_number > 1:
        pass
    else:
        customers_id = random.sample(sorted(customers.customer_id), row.total_players_number)
        score = np.arange(1,len(customers_id) + 1)
        
        participants_list.extend(customers_id)
        score_list.extend(score)
        
    return()

In [10]:
generate_results()

()